extends ../layout.pug

block content
  main.page-content
    section.ticket-form
      div(class='ticket-form__wrapper')
        h1(class='ticket-form__title') Новая публикация
        div(class='ticket-form__tile')
          form(class='ticket-form__form form' action='/offers/add' method='post' enctype='multipart/form-data' autocomplete='off')
            div(class='ticket-form__avatar-container js-preview-container')
              div(class='ticket-form__avatar js-preview')
              div(class='ticket-form__field-avatar')
                input#avatar.visually-hidden.js-file-field(type='file' name='avatar')
                label(for='avatar')
                  span(class='ticket-form__text-upload') Загрузить фото…
                  span(class='ticket-form__text-another') Загрузить другое фото…
            div(class='ticket-form__content')
              div(class='ticket-form__row')
                div(class='form__field')
                  input#ticket-name.js-field(type='text' name='ticket-name' required='')
                  label(for='ticket-name') Название
                  span Обязательное поле
              div(class='ticket-form__row')
                div(class='form__field')
                  textarea#comment-field.js-field(name='comment' cols='30' rows='10' maxlength='400' minlength='50')
                  label(for='comment-field') Описание
                  span Обязательное поле
              div(class='ticket-form__row')
                select#category-field(name='category' data-label='Выбрать категорию публикации' class='form__select js-multiple-select')
                  each category in categories
                    option(value=category.id) #{category.name}
              div(class='ticket-form__row')
                div(class='form__field form__field--price')
                  input#price-field.js-field.js-price(type='number' name='price' min='1' required='')
                  label(for='price-field') Цена
                  span Обязательное поле
                div(class='form__switch switch')
                  div(class='switch__item')
                    input#buy-field.visually-hidden(type='radio' name='action' value='buy')
                    label(for='buy-field' class='switch__button') Куплю
                  div(class='switch__item')
                    input#sell-field.visually-hidden(type='radio' name='action' value='sell')
                    label(for='sell-field' class='switch__button') Продам
            button(class='form__button btn btn--medium js-button' type='submit' disabled='') Опубликовать
