extends ../layout.pug

block content

  main.page-content
    section.ticket-form
      div(class='ticket-form__wrapper')
        h1(class='ticket-form__title') Редактировать публикацию
        div(class='ticket-form__tile')
          form(class='ticket-form__form form' action='#' method='post' enctype='multipart/form-data' autocomplete='off')
            div(class='ticket-form__avatar-container js-preview-container uploaded')
              div(class='ticket-form__avatar js-preview')
                img(src='/img/item02.jpg' srcset='/img/item02@2x.jpg 2x' alt='')
              div(class='ticket-form__field-avatar')
                input#avatar.visually-hidden.js-file-field(type='file' name='avatar')
                label(for='avatar')
                  span(class='ticket-form__text-upload') Загрузить фото…
                  span(class='ticket-form__text-another') Загрузить другое фото…
            div(class='ticket-form__content')
              div(class='ticket-form__row')
                div(class='form__field')
                  input#ticket-name.js-field(type='text' name='ticket-name' value='Мое старое кресло' required='')
                  label(for='ticket-name') Название
                  span Обязательное поле
              div(class='ticket-form__row')
                div(class='form__field')
                  textarea#comment-field.js-field(name='comment' cols='30' rows='10' maxlength='400' minlength='50') Продам свое старое кресло, чтобы сидеть и читать книги зимними вечерами. Ножки мягкие, мой пол не царапают.
                  label(for='comment-field') Описание
                  span Обязательное поле
              div(class='ticket-form__row')
                select#category-field(name='category' data-label='Выбрать категорию публикации' class='form__select js-multiple-select' multiple='')
                  option(value='1' selected='') Дом
                  option(value='2' selected='') Спорт и отдых
                  option(value='3') Авто
                  option(value='4') Электроника
              div(class='ticket-form__row')
                div(class='form__field form__field--price')
                  input#price-field.js-field.js-price(type='number' name='price' min='1' value='4000' required='')
                  label(for='price-field') Цена
                  span Обязательное поле
                div(class='form__switch switch')
                  div(class='switch__item')
                    input#buy-field.visually-hidden(type='radio' name='action' value='buy' checked='')
                    label(for='buy-field' class='switch__button') Куплю
                  div(class='switch__item')
                    input#sell-field.visually-hidden(type='radio' name='action' value='sell')
                    label(for='sell-field' class='switch__button') Продам
            button(class='form__button btn btn--medium js-button' type='submit') Сохранить
